<form method = 'POST' action = '/prehistoric_creatures'>
    <label for="newCreatureType">New Type</label>
    <input id='newCreatureType' type="text" name='type'>

    <label for="creatureImg">New Image url</label>
    <input id='creatureImg' type="url" name='img_url'>

    <input type="submit">
</form>