<form method = 'POST' action = '/prehistoric_creatures'>
    <label for="creatureType">Type</label>
    <input id='creatureType' type="text" name='type'>

    <label for="creatureImg">Image url</label>
    <input id='creatureImg' type="url" name='img_url'>

    <input type="submit">
</form>